/* Nav CSS */
@media only screen and (max-width: 640px) {
    nav.navbar.justify-content-center.nav-splash {
        background-color: #3E4437;
        font-family: Pacifico;
        height: 3.5em;
        width: 100%;
    }

    nav.navbar.justify-content-center.nav-other {
        background-color: #3E4437;
        font-family: Pacifico;
        height: 3.5em;
        width: 100%;
    }

    .container-fluid {
        justify-content: left;
    }

    .collapse {
        background-color: #3E4437;
        margin-right: 2%;
        margin-left: 2%;
        padding-right: 2%;
        padding-left: 2%;
    }

    .navbar-toggler-icon {
        background-image: url("../../assets/images/hamburgerMenu.png") !important;
        margin-right: 2%;
        margin-left: 2%;
        padding-right: 2%;
        padding-left: 2%;
    }

    ul {
        background-color: #3E4437;
        list-style-type: none;
        text-decoration: none;
    }

    li {
        margin-right: 2%;
        margin-left: 2%;
        padding-right: 2%;
        padding-left: 2%;
        font-family: Pacifico;
        font-size: 1.5em;
    }

    a:hover {
        color: orangered !important;
        font-family: Pacifico;
        font-size: .73em;
        width: 100%;
    }

    a:link {
        color: white;
        font-size: .73em;
        font-family: Pacifico;
        text-decoration: none;
        width: 100%;
    }

    a:visited {
        color: white;
        font-family: Pacifico;
        text-decoration: none;
        font-size: .73em;
        width: 100%;
    }
}

@media only screen and (min-width: 641px) {
    nav.navbar.navbar-expand-sm.justify-content-center.nav-splash {
        background-color: #A2AC94 !important;
        font-family: Pacifico;
        height: 3.5em;
    }

    nav.navbar.navbar-expand-sm.justify-content-center.nav-other {
        background-color: #3E4437 !important;
        font-family: Pacifico;
        display: flex;
        height: 3.5em;
    }

    ul {
        list-style-type: none;
        text-decoration: none;
        margin: 0;
        padding: 0;
    }

    li {
        margin-left: 2.5vw;
        margin-right: 2.5vw;
        font-family: Pacifico;
        font-size: 2em;
    }

    a:hover {
        color: orangered !important;
        font-family: Pacifico;
    }

    a:link {
        color: white;
        font-size: .73em;
        font-family: Pacifico;
        text-decoration: none;
    }

    a:visited {
        color: white;
        font-size: .73em;
        font-family: Pacifico;
        text-decoration: none;
    }
}