/* Splash CSS Mobile*/
@media only screen and (max-width: 640px) {
    div.splash-bg {
        height: 100vh;
        width: 100vw;
        background-color: #A2AC94;
        font-family: Pacifico;
        text-decoration: none;
        overflow: hidden;
        justify-content: center;
    }

    img.splash.splash-graphic {
        transform: translateY(10%);
        width: 80%;
        height: 80%;
        margin: auto;
    }

    img.splash.splash-logo {
        transform: translateY(15%);
        width: 80%;
        height: 80%;
        margin: auto;
    }
}

/* Splash CSS Desktop*/
@media only screen and (min-width: 641px) {
    div.splash-bg {
        height: 100vh;
        width: 100vw;
        background-repeat: repeat-x;
        background-color: #A2AC94;
        background-size: cover;
        font-family: Pacifico;
        text-decoration: none;
    }

    img.splash.splash-graphic {
        transform: translateY(30%);
        width: 100%;
        height: 100%;
    }

    img.splash.splash-logo {
        transform: translateY(35%);
        width: 100%;
        height: 100%;
    }
}